PLT_PORT=4444
PLT_LOGGER_LEVEL=debug

PLT_PROVIDER=k8s
PLT_K8S_ALLOW_SELFSIGNED_CERT=true

# Use $(pwd)/services/main/tests/fixtures/k8s-ca.crt
PLT_K8S_CA_PATH=

# Use $(pwd)/services/main/tests/fixtures/token
PLT_K8S_TOKEN_PATH=

PLT_DEV_MODE="true"
