name: Demo branch
on:
  push:
    branches:
      - demo

concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

permissions:
  contents: read
  packages: write

jobs:
  run-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4.0.0
        with:
          version: 10
      - uses: actions/setup-node@v5
        with:
          node-version: 20
      - name: pnpm install
        uses: nick-fields/retry@v3.0.0
        with:
          max_attempts: 10
          timeout_minutes: 5
          retry_on: error
          command: pnpm install
      - name: Run test suite
        run: pnpm test

  build-demo-image:
    needs: [run-tests]
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: "Setup QEMU"
        uses: docker/setup-qemu-action@v3
      - name: "Setup Docker Buildx"
        uses: docker/setup-buildx-action@v3
      - name: "Login to GHCR"
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: "Build tags"
        run: |
          echo REPOSITORY_NAME=${GITHUB_REPOSITORY#*\/} >> $GITHUB_ENV
      # https://docs.npmjs.com/docker-and-private-modules
      - name: Create .npmrc file
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > .npmrc
      - name: "Build and push"
        uses: docker/build-push-action@v5
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/platformatic/plt-${{ env.REPOSITORY_NAME }}:demo
          secret-files: |
            npmrc=.npmrc
