name: Run tests
on: [pull_request, workflow_call, workflow_dispatch]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v6

    - uses: pnpm/action-setup@v4.2.0
      with:
        version: 10

    - uses: actions/setup-node@v6
      with:
        node-version: 24

    - name: pnpm install
      uses: nick-fields/retry@v3.0.2
      with:
        max_attempts: 10
        timeout_minutes: 5
        retry_on: error
        command: pnpm install

    - name: Run linter
      run: pnpm lint

    - name: Create cluster
      uses: AbsaOSS/k3d-action@v2
      with:
        cluster-name: plt-machinist-test
        k3d-version: v5.8.3

    - name: Install Gateway API CRDs
      run: kubectl apply -f https://github.com/kubernetes-sigs/gateway-api/releases/download/v1.2.1/standard-install.yaml

    - name: Build and import test image
      run: |
        docker build . -t platformatic/machinist-test:latest -f Dockerfile.tests
        k3d image import platformatic/machinist-test:latest -c plt-machinist-test --verbose

    - name: Run test suite
      run: pnpm test:unit
